<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

<meta name="baidu-site-verification" content="code-6x2g1b0fcT" />

<link rel="icon" href="<%- theme.basic.info.favicon %>">

<div class="doflake">

  <div class="theme-basic">
    <div class="theme-basic-title">
      <title><%= theme.basic.info.title %></title>
    </div>   
    <div class="theme-basic-mathjax">
        <% if (theme.basic.mathjax.enable){ %>
          <%- partial('_basic/mathjax') %>
        <% } %>
    </div> 
  </div>

  <div class="theme-meta">
    <div class="theme-meta-totop">
      <% if (theme.meta.totop.enable) { %>
        <%- partial('_meta/totop') %>
      <% } %>  
    </div>
  </div>

  <div class="theme-css">
    <%- css('css/style.css') %>
  </div>

  <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
  <script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
  <script type="text/javascript" src="/js/fireworks.js"></script>
</div>