<div class="post-index-container">
  <section class="posts">
    <% page.posts.each(function (post) { %>
      <div class="card post-index-card">
        <% if ( post.headimg ) { %>
        <div class="headimg"> 
          <img src="<%= post.headimg %>" onclick="location.href='<%- url_for(post.path) %>';"></img>
        </div>
        <% } %>  
        <div class="author">
          <img class="avatar-round" src="<%= post.author.avatar %>" onclick="location.href='<%= post.link %>';"></img>
          <div class="info">
            <a class="name"><%= post.author.writer %></a>
            <a class="signature"><%= post.author.talk %></a>
          </div>
          <div class="tag">
            <% post.tags.each(function (tag) { %>
            <a href="<%= tag.path %>" target="_blank">
              <i class="fa fa-tag"></i> <%= tag.name %> (<%= tag.length %>)
            </a>
            <% }) %>
          </div>
        </div>
        <hr class="fa fa-scissors"></hr>
        <div class="content">
          <a target="title" class="link" href="<%= post.path %>" ><%= post.title %></a>
          <div class="text"> <%- post.excerpt || post.content %> </div>
        </div>
        <div class="readmore hvr-float-left" onclick="location.href='<%= post.path %>';"></div>
      </div>
    <% }) %>
  </section>
</div>