<card><%- partial('_partial/card') %></card>

<div class="post-index">
  <section class="posts">
    <% page.posts.each(function (post) { %>
      <div class="post-banner" style="background-image: url(<%= post.headimg %>);"></div>
      <div class="post-title">
        <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
      <div class="post-content">
        <%- post.excerpt %>
      </div>
    <% }) %>
  </section>
</div>
